.App {
  background-color: #15171c;
  height: 100%;
  width: 100%;
}
.App-header {
  background-color: #37393d;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  color: white;
  padding: 0 20px;
  width: 100%;
}
main {
  display: flex;
  color: #fff;
  padding: 20px;
  height: calc(100vh - 110px);
  overflow: auto;
}
.search {
  color: #fff;
  width: 65%;
}
footer {
  padding: 5px 0;
  background-color: #37393d;
  display: flex;
  justify-content: center;
}
main aside {
  width: 20%;
  border: 5px solid #75c74e;
  color: #fff;
  padding: 20px;
  height: 100%;
  overflow: auto;
}
main aside .heading {
  font-weight: 900;
  font-size: 26px;
  padding: 20px;
}
main section {
  width: 80%;
}
.text-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
